{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block title %}
    Add Patient
{% endblock %}

{% block content %}

    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Today's Appointments</h1>
                </div>
            </div>
        </div>
    </section>

    <section class="content">
        <div class="col-md-6">
            No Appointments
        </div>
    </section>

{% endblock %}