{% extends 'base.html' %} {% load static %} {% block title %} Patient Detail {% endblock %} {% block content %}

<div class="wrapper">
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 style="padding-bottom: 0.5rem">Details</h1>
          <a href="{% url 'patient:patient_list' %}">
            <strong
              ><i class="fas fa-angle-double-left"></i> Back to List</strong
            >
          </a>
        </div>
        <div class="col-sm-6">
          <div class="breadcrumb float-sm-right">
            <button
              type="button"
              class="btn btn-warning text-white mr-4"
              data-toggle="modal"
              data-target="#modal-default"
            >
              <i class="far fa-calendar mr-2"></i>Add Appointment
            </button>
            <a
              href="{% url 'patient:update' patient.id %}"
              class="btn btn-primary text-white"
              ><i class="far fa-edit mr-2"></i>Edit</a
            >
          </div>
        </div>
      </div>
    </div>
    <!-- /.container-fluid -->
  </section>

  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-4">
          <div class="card card-primary card-outline">
            <div class="card-body box-profile">
              <div class="text-center"></div>

              <h3 class="profile-username text-center">
                <strong
                  >{{ patient.first }} {{ patient.last }} {{ patient.middle }}</strong
                >
              </h3>

              <p class="text-muted text-center">{{ patient.card_number }}</p>

              <div class="card-body">
                <table class="table">
                  <thead>
                    <tr>
                      <th>
                        <strong
                          ><i class="fas fa-calendar-plus mr-1"></i>Age</strong
                        >
                      </th>
                      <th>
                        <strong
                          ><i class="fas fa-venus-mars mr-1"></i>Gender</strong
                        >
                      </th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>
                        <p class="text-muted">{{ patient.age }}</p>
                      </td>
                      <td>
                        <p class="text-muted">{{ patient.gender }}</p>
                      </td>
                    </tr>
                  </tbody>
                </table>

                <hr />

                <strong><i class="fas fa-phone mr-2"></i>Phone</strong>

                <p class="text-muted">{{ patient.phone }}</p>

                <hr />

                <strong
                  ><i class="fas fa-map-marker-alt mr-2"></i>Address</strong
                >

                <p class="text-muted">{{ patient.address }}</p>

                <hr />

                <strong
                  ><i class="fas fa-calendar-alt mr-2"></i> First Visit
                  Date</strong
                >

                <p class="text-muted">{{ patient.created_date }}</p>

                {% comment %}
                <hr />

                <strong
                  ><i class="far fa-calendar-check mr-2"></i>Appointment</strong
                >

                <p class="text-muted">{{ patient.appointment }}</p>
                {% endcomment %}
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-8">
          <div class="card">
            <div class="card-header p-2">
              <ul class="nav nav-pills">
                <li class="nav-item nav-link">History</li>
              </ul>
            </div>
            <div class="card-body">
              <div class="" id="activity">
                <div class="post">
                  <div class="user-block">
                    <span class="username" style="margin-left: 0">
                      <a href="#">Date</a>
                    </span>
                    <span class="description" style="margin-left: 0"
                      >By Dr. Doctor Name</span
                    >
                  </div>
                  <p>
                    Lorem ipsum represents a long-held tradition for designers,
                    typographers and the like. Some people hate it and argue for
                    its demise, but others ignore the hate as they create
                    awesome tools to help create filler text for everyone from
                    bacon lovers to Charlie Sheen fans.
                  </p>
                </div>
                <div class="post">
                  <div class="user-block">
                    <span class="username" style="margin-left: 0"
                      ><a href="#">Date</a></span
                    >
                    <span class="description" style="margin-left: 0"
                      >By Dr. Doctor Name</span
                    >
                  </div>
                  <p>
                    Lorem ipsum represents a long-held tradition for designers,
                    typographers and the like. Some people hate it and argue for
                    its demise, but others ignore the hate as they create
                    awesome tools to help create filler text for everyone from
                    bacon lovers to Charlie Sheen fans.
                  </p>
                </div>
                <div class="post">
                  <div class="user-block">
                    <span class="username" style="margin-left: 0"
                      ><a href="#">Date</a></span
                    >
                    <span class="description" style="margin-left: 0"
                      >By Dr. Doctor Name</span
                    >
                  </div>
                  <p>
                    Lorem ipsum represents a long-held tradition for designers,
                    typographers and the like. Some people hate it and argue for
                    its demise, but others ignore the hate as they create
                    awesome tools to help create filler text for everyone from
                    bacon lovers to Charlie Sheen fans.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

  <div class="modal fade" id="modal-default">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Book Appointment</h4>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form action="" return=false>
           {% csrf_token %}
        <div class="modal-body">
          

          <p>
            <strong>Patient Name: </strong> {{ patient.first }} {{ patient.last }}
          </p>
          <p>
            Date: 
            <input
              type="date"
              class="form-control datetimepicker-input"
              id="appointment_date"
            />
          </p>
        </div>
        <div class="modal-footer justify-content-between">
          <button type="button" class="btn btn-default" data-dismiss="modal">
            Close
          </button>
          <a
            data-appointment="{{ patient.id }}"
            data-action="appointment"
            class="btn btn-success select-appointment text-white" data-dismiss="modal"
            >Save</a
          >
        </div>
        </form>
      </div>
    </div>
  </div>
{% endblock %}
