{% extends 'base.html' %}

{% block title %}
    Patients List
{% endblock %}

{% block content %}
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Patients Record</h3>
        </div>
        <!-- /.card-header -->
        <div class="card-body">
            <table id="example1" class="table table-bordered table-striped">
                <thead>
                <tr>
                    <th>Card No.</th>
                    <th>Full Name</th>
                    <th>Age</th>
                    <th>Gender</th>
                    <th>Phone</th>
                    <th>First visit Date</th>
                    <th>Appointment</th>
                </tr>
                </thead>
                <tbody>
                {% for patient in patients %}
                    <tr>
                        <td><a href="{% url 'patient:patient_detail' patient.id %}">{{ patient.card_number }}</a></td>
                        <td>
                            <a href="{% url 'patient:patient_detail' patient.id %}" style="color: #000">{{ patient.first }} {% if patient.last %} {{ patient.last }} {% endif %}  {% if patient.last %} {{ patient.middle }} {% endif %}</a>
                        </td>
                        <td>{% if patient.age %} {{ patient.age }} {% endif %}</td>
                        <td>{% if patient.gender %} {{ patient.gender }} {% endif %}</td>
                        <td>{% if patient.phone %} {{ patient.phone }} {% endif %}</td>
                        <td>{{ patient.created_date }}</td>
                        <td>{{ patient.appointed.date }}</td>
                    </tr>
                {% endfor %}
                </tbody>
                <tfoot>
                <tr>
                    <th>Card No.</th>
                    <th>Full Name</th>
                    <th>Age</th>
                    <th>Gender</th>
                    <th>Phone</th>
                    <th>First visit Date</th>
                    <th>Appointment</th>
                </tr>
                </tfoot>
            </table>
        </div>
        <!-- /.card-body -->
    </div>
{% endblock %}